/* Your site must support distinct layouts for large and small screens using media queries. Use comments to note where you completed this requirement.
You may do this in a variety of ways. For example, you can move images or switch blocks between rows (for large screens) and columns (for small). */
.carousel-item img {
    height: 10rem;
    object-fit: contain;
}

.carousel-control-next, .carousel-control-prev, .carousel-indicators  {
    filter: invert(100%);
}

.logo {
    font-size: 10px;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.favs-main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #AB644B;
    padding: 1rem;

}

.main-nav {
    display: flex;
    gap: 1.5rem;
}

button, .btn {
    cursor: pointer;
    border: none;
    padding: 0.5rem 1.25rem;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

.favdiv {
    background-color: #647687;
}

.favparent {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: #647687;
}

.main-header nav {
    margin-left: 10rem;
    padding-right: 2rem;
    padding-top: 2rem;
}

.navdiv {
    grid-column: span 5 / span 5;
    background-color: #AB644B;
}

#carouselFav {
    grid-column: span 5 / span 5;
    grid-row: span 4 / span 4;
    grid-row-start: 2;
} 

.logo a {
    text-decoration: none;
    color: black;
    font-size: 3rem;
    padding-left: 2rem;
}

#remove-btn {
    background-color: #72383D;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

